header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
  padding-top: 20px;
  @include media-breakpoint-up(lg) {
   padding-top: 50px;
  }

  >.container-fluid {
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    img {
      @include media-breakpoint-up(lg) {
        height: 50px;
        width: auto;
        object-fit: contain;
      }
    }
  }

  .toggle {
    padding: 0;
    background: none;
    border-width: 0;
    z-index: $zindex-fixed + 1;
    &:focus{
      outline: none;
    }
    &-bar{
      display: block;
      width: 35px;
      height: 5px;
      background-color: #50BD96;
      margin: 6px 0;
      transition: 0.4s;
    }
    &.active{
      .toggle-bar{
        &:nth-child(1){
          transform: rotate(-45deg) translate(-9px, 7px);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(45deg) translate(-8px, -7px);
        }
      }
    }
  }

  .nav {
    &-collapse {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: rgba(black, .15);
      backdrop-filter: blur(50px);
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
      z-index: $zindex-fixed;

      @include media-breakpoint-up(lg) {
        width: 50%;
      }

      &.open {
        visibility: visible;
        transform: translateX(-100%);
      }
    }

    &-menu {
      flex-direction: column;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 30px;
        }
      }
    }

    &-link {
      color: white;
      font-weight: 400;
      font-size: 1.25em;

      span {
        display: inline-block;
      }

      &-en {
        font-family: $font-futura;
        min-width: 110px;
        border-right: 1px solid white;
      }

      &-th {
        padding-left: 20px;
      }
    }
  }
}