#sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 850px;
      height: 100%;
      background: rgba(black, .16) 0% 0% no-repeat padding-box;
      backdrop-filter: blur(1px);
      z-index: 0;
    }
  }

  .bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    .carousel {
      &-item {
        img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 0;

    img {
      height: 37px;
    }

    @include media-breakpoint-up(lg) {
      top: 50px;

      img {
        height: 49px;
      }
    }
  }

  .text {
    @include font-size(180px);
    font-family: $font-futura;
    font-weight: 500;
    line-height: 1;
    text-shadow: 0 10px 6px rgba(black, .16);
    color: white;
    text-align: center;
    background: rgba(black, .16) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(1px);
    padding: 30px 0 50px;
    z-index: 1;

    @include media-breakpoint-up(lg) {
      text-align: left;
      background: none;
      backdrop-filter: none;
    }
  }

  .social {
    position: absolute;
    bottom: 13vh;
    left: 0;
    right: 0;

    @include media-breakpoint-up(lg) {
      bottom: 50px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        display: inline;

        a {
          display: inline-block;

          img {
            @include media-breakpoint-up(lg) {
              width: 33px;
              height: 33px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

#sec5 {
  padding-top: 10px;

  @include media-breakpoint-up(lg) {
    padding-top: 54px;
  }

  hr {
    border-top-color: #463637;
  }

  .title {
    position: relative;
    z-index: 2;

    &-bg {
      position: relative;
      display: inline-block;
      width: 54px;
      height: 54px;
      border: 1px solid white;
      border-radius: 100%;
      box-shadow: 0px 3px 2px rgba(black, .16);

      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        right: -2px;
        width: 49px;
        height: 49px;
        background-color: $primary;
        border-radius: 100%;
        box-shadow: 0px 3px 6px rgba(black, .16);
      }
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 33px;
      transform: translateY(-50%);
      letter-spacing: 17px;
      text-transform: uppercase;
      font-family: $font-futura;
      font-weight: 500;
      font-size: 17px;
    }

    @include media-breakpoint-up(lg) {
      &-bg {
        width: 75px;
        height: 75px;

        &::before {
          width: 68px;
          height: 68px;
        }
      }

      &-text {
        font-size: 19px;
      }
    }
  }

  .products {
    max-width: 1100px;
    margin: 0 auto;
  }

  .slick {
    *:focus {
      outline: none !important;
    }

    &-arrow {
      width: unset;
      height: unset;
      z-index: 1;

      &::before {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        img {
          width: 32px;
        }
      }
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }

    &-item {

      img {
        width: 100%;
      }
    }

    &-for {

      @include media-breakpoint-up(lg) {
        margin-top: -70px;
      }
    }

    &-nav {
      max-width: 802px;
      margin: 0 auto;

      .slick {
        &-track {
          display: flex;
          flex-direction: column;

          @include media-breakpoint-up(lg) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
          }
        }

        &-slide {
          color: #DDDDDD;
          width: 100% !important;

          @include media-breakpoint-up(lg) {
            width: auto !important;
          }

          &.slick-current {
            color: $primary;
          }
        }

        &-text {
          display: block;
          text-align: center;
          white-space: nowrap;
          padding: 0 15px;
          cursor: pointer;
          @include font-size(22px);
        }
      }
    }
  }
}

#sec6 {
  display: flex;
  flex-direction: column;

  .title {
    position: relative;
    margin-bottom: 22px;

    &-bg {
      position: relative;
      display: inline-block;
      width: 54px;
      height: 54px;
      border: 1px solid #31A579;
      border-radius: 100%;
      box-shadow: 0px 3px 2px rgba(black, .16);

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 49px;
        height: 49px;
        background-color: white;
        border-radius: 100%;
        box-shadow: 0px 3px 6px rgba(black, .16);
      }
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 33px;
      transform: translateY(-50%);
      letter-spacing: 17px;
      text-transform: uppercase;
      font-family: $font-futura;
      font-weight: 500;
      font-size: 17px;
    }

    @include media-breakpoint-up(lg) {
      &-bg {
        width: 75px;
        height: 75px;

        &::before {
          width: 68px;
          height: 68px;
        }
      }

      &-text {
        font-size: 19px;
      }
    }
  }

  .form {
    background-color: #AFECD5;
    padding-top: 20px;

    @include media-breakpoint-down(md) {
      height: 100%;
      display: flex;
      // align-items: center;
      font-size: 0.8rem;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 54px;
    }

    >.container-fluid {
      @include media-breakpoint-up(lg) {
        padding-right: 0;
      }
    }

    .section-content {
      height: 100%;

      @include media-breakpoint-up(lg) {
        padding-right: 70px;
      }
    }

    &-control {
      border-width: 0;
      border-radius: 10px;

      &:not(textarea) {
        border-radius: 10rem;
      }
    }

    &-check {
      padding-left: 1.75rem;

      &-input {
        display: none;

        &:checked~.form-check-label::after {
          content: '';
          position: absolute;
          top: 0;
          left: .3em;
          width: 1em;
          height: 1em;
          background: url('../images/icons/check.svg') no-repeat center center/contain;
        }
      }

      &-label {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          width: 20px;
          height: 20px;
          background-color: white;
          border-radius: 100%;
          border: 5px solid #50BD96;
        }
      }
    }
  }

  .bg-slide {
    @include media-breakpoint-down(md) {
      display: none;
    }

    .carousel {
      &-item {
        img {
          width: 100%;
          height: calc(100vh - 144px);
          object-fit: cover;
        }
      }
    }
  }

  .footer {
    padding: 40px 0;
    color: $footer-color;

    a:not(:hover) {
      color: $footer-color;
    }

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;

      li {
        display: flex;
        margin-right: 2rem;

        .icon {
          margin-top: -.25rem;
          margin-right: 0.5rem;

          img {
            @include media-breakpoint-up(lg) {
              width: 1.75em;
              height: 1.75em;
              object-fit: contain;
            }
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

#sec7 {
  @include media-breakpoint-up(lg) {
    display: none;
  }

  .bg-slide {
    .carousel {
      &-item {
        img {
          width: 100%;
          // height: 220px;
          object-fit: cover;
        }
      }
    }
  }

  .footer {
    font-size: 7px;
    padding: 25px 0;
    color: $footer-color;

    a:not(:hover) {
      color: $footer-color;
    }

    &-contact {
      display: flex;
      margin-bottom: 0.5rem;

      .icon {
        margin-top: -.125rem;
        margin-right: 0.5rem;
      }
    }
  }
}