$enable-responsive-font-sizes: true;

$font-futura : 'futura-pt',
sans-serif;
$font-family-base: 'Sukhumvit Set',
sans-serif;

$primary:#50BD96;
$footer-color: rgba(70, 54, 55, 0.76);

$modal-content-border-width: 0;
$modal-content-border-radius: 0;
$modal-backdrop-opacity: 0;